@model ForekRequisition.Models.User
@using ApprenticeApplications.Models.Enums

@{
    ViewData["Title"] = "Modify";
}

<style>
    .form-control{
        border-color:black;
    }
</style>

<br />

<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Modify User Details
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">

  <div class="form-row">
    <div class="col-md-4">
        <form asp-action="ModifyUserDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Password" class="control-label"></label>
                @Html.TextBox("Password",ViewData["password"],new {@class="form-control"})
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEmailVerified" /> @Html.DisplayNameFor(model => model.IsEmailVerified)
                </label>
            </div>
          
            <div class="form-group" hidden>
                <label asp-for="ResetPasswordCode" class="control-label"></label>
                <input asp-for="ResetPasswordCode" class="form-control" />
                <span asp-validation-for="ResetPasswordCode" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LastLoginDate" class="control-label"></label>
                <input asp-for="LastLoginDate" class="form-control" />
                <span asp-validation-for="LastLoginDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control" id="role" asp-items="Html.GetEnumSelectList<eRole>()">
                     <option selected="selected" value="">Select Role</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreatedOn" class="control-label"></label>
                <input asp-for="CreatedOn" class="form-control" />
                <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UpdatedOn" class="control-label"></label>
                <input asp-for="UpdatedOn" class="form-control" />
                <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <br />
            <div style="background-color:whitesmoke">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button class="btn btn-outline-danger float-right"> Close</button>
            </div>
            </div>
            
        </form>
    </div>
</div>

      </div>
    </div>
  </div>
 </div>



<hr />


<div>
    <a asp-action="Index" class="btn-info">Back to Users</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
