<br />
<br />

<div class="alert alert-success" role="alert">
  <strong>Application Successful</strong><br /><hr />
  Your application has been successfully submitted
  <br /><h2 class="text-center">also</h2><br />
  Thank you for your time, You'll hear from us soon<br /><br />
  <a class="btn btn-dark" asp-action="ApplicantRegister" asp-controller="Applicant">close</a>


</div>
