
<br /><br />

<div class="alert alert-success" role="alert">
 <h4 class="text-center">Apprentice Application Offer</h4><br />
 <hr />
 <p>Your offer has been successfully submitted, thank you very much 
     for your timeous response.

     <br /><hr />
     <b><p>Danko</p></b>
 </p>
</div>

<br />

