<br />
<br />

<div class="alert alert-danger" role="alert">
  <strong>Script NOT marked</strong><br /><hr />
  Ooops,unfortunately your script is still not yet marked
 <br />

  However, keep checking<br /><br />
  <a class="btn btn-dark" asp-action="ApplicantRegister" asp-controller="Applicant">close</a>


</div>