<br />
<br />

<div class="alert alert-danger" role="alert">
  <strong>User NOT Found</strong><br /><hr />
  Either the user RSA ID Number supplied is incorrect
  <br /><h2 class="text-center">or</h2><br />
  The user simply never applied before<br /><br />
  <a class="btn btn-dark" asp-action="ApplicantRegister" asp-controller="Applicant">close</a>


</div>