
@{
    ViewData["Title"] = "Incomplete Data";
}

  <div class="alert alert-secondary mt-1" role="alert">
      <h4 class="text-center">Incomplete Application</h4>
      <hr />
      <br />
      The Applicant according to our records, did not complete
      the <b>Educational Section</b>. Hence the application is
      incomplete.

  </div>

